extends layout

block content
  .inner
    h2 Top #{sakes.length} Sakes
    table.table
      td photo
      td ranking
      td name
      td reviews
      td Average Rating
      each sake, i in sakes
        tr
          td
            a(href=`/sake/${sake.slug}`)
              img(width=200 src=`/uploads/${sake.photo || 'sake.jpg'}` alt=sake.name)
          td #{i + 1}
          td: a(href=`/sake/${sake.slug}`)= sake.name
          td= sake.reviews.length
          td #{Math.round(sake.averageRating * 10) / 10} / 5
